FORMAT: 1A
HOST: http://test.subscribeasy.com/

# Subscribe API

## URL

Access to Subscribe API is available at https://subscribeasy.com/api/ or at http://subscribeasy.com/api/
HTTPS connection is preferrable
For test purposes use http://test.subscribeasy.com/api/

## Authorization

To authorize in the system you need to provide two parameters:
* 'store_url' URL of the website in the format https://polishtvcompany.com/
* 'key' Secret key. String.
Request above parameters from your manager.
Keep in mind that every request you make should contain this values

## REST API

The only supported method is HTTP POST. Other methods (GET, DELETE, PUT) are not supported.
When making requests please make sure to use content type **application/x-www-form-urlencoded** and url encode all request data

## Required parameters

Every action has it's own list of required parameters. See description of specific API action.
But in general all requests require following parameters: **store_url**, **key**, **action**.

## Action parameter

**action** parameter is a key parameter for specifying what should be performed in Subscribe system.
Every action value correspond to one action in the Subscribe system (e.g. **lead** action create new lead in the system).

## Response
Format of the response is a JSON. Response fields description:

**status**: Can has two possible values: 
* "success" means that request was successfully completed. 
* "fail" means that request was not compleated. For more information look 
at error code and message parameter in the response. 

**message**: Contain description of the API request result or error
description.  

**code**: Code of the request result. It can be an error code or success 
code.  
      

## Lead Collection [/api/?action=leads/]

### List All Leads [POST]

Creates a new `Lead` object.  
Optional query param  **referrer_email** determines the referrer person
who this lead will be assigned to  
Keep in mind than **email** parameter required only in case if 
**telephone** parameter is not provided. The same is actual for 
**telephone** parameter. If **email** is provided, **telephone** is not
required.

+ Response 200

    Successful response.

    + Attributes
        + code: 109 (number)
        + message: Lead was successfully saved (string)
        + type: success (string)
        + leads: (array[Lead for leads list]) - Array of leads
    
+ Response 401

    Invalid credentials. Will occur in case when store_url or key are inavlid

    + Attributes
        + code: 401 (number)
        + message:  Access denied for ...
        + status: fail (string)
        
        
## Create a new lead  [/api/?action=lead]

### New lead [POST]

Creates a new `Lead` object.  
Optional query param  **referrer_email** determines the referrer person
who this lead will be assigned to  
Keep in mind than **email** parameter required only in case if 
**telephone** parameter is not provided. The same is actual for 
**telephone** parameter. If **email** is provided, **telephone** is not
required.

+ Request

    + Attributes (Lead for create)
        + assignee_email: norma@jean.com - Email of a user which will be assigned to the lead. Should be an email already registered in subscribeasy system
        + referral: (Referral)
+ Response 200

    Successful response.

    + Attributes
        + code: 109 (number)
        + message: Lead was successfully saved (string)
        + status: success (string)
        
+ Response 400

    Validation failed. Detailed info will be provided in message property.

    + Attributes
        + code: 400 (number)
        + message: Error description / reason (string)
        + status: fail (string)
        
        
+ Response 401

    Invalid credentials. Will occur in case when store_url or key are inavlid

    + Attributes
        + code: 401 (number)
        + message:  Access denied for ...
        + status: fail (string)
        
        
## Update a lead  [/api/?action=lead/{lead_email_or_phone}]

### Update lead [POST]

Updates a `Lead` object.  

+ Parameters

    + `lead_email_or_phone` - Email/phone number of a lead already existing in Subscribeasy system

+ Request

    + Attributes (Lead)

+ Response 200

    Successfull response. A `Lead` was updated.

    + Attributes
        + code: 119 (number)
        + message: Lead was successfully saved (string)
        + status: success (string)

+ Response 400

    Validation failed. Detailed info will be provided in message property.

    + Attributes
        + code: 400 (number)
        + message: Error description / reason (string)
        + status: fail (string)
        
+ Response 401

    Invalid credentials. Will occur in case when store_url or key are inavlid

    + Attributes
        + code: 401 (number)
        + message:  Access denied for ...
        + status: fail (string)

+ Response 404

    `Lead` corresponding to provided **email** / **phone number** wasn't found

    + Attributes
        + code: 404 (number)
        + message: Provided entity ID is invalid
        + status: fail (string)

        
## Import [/api/?action=import]

### Process payment and create a new order [POST]

Processes payment and creates a new order and other related entities.

+ Request

    + Attributes
        + sync_type: order (required) - System supports 4 types of syncronisation: order, customer, password, referrer.  For processing of payment and creating of an order use **order** value
        + payment (Payment, required) - Payment (Credit card) information
        + products (array[Product], required) - Array of products to process in order
        + customer (Customer, required) - Customer information
        + order (Order, required) - Order, payment and shipping information

+ Response 200

    Successfull response. An `Order` was created

    + Attributes
        + code: 103 (number)
        + message: Order was created successfully (string)
        + status: success (string)

+ Response 401

    Successfull response. An `Order` was created

    + Attributes
        + code: 104 (number)
        + message: Order was not created: reason (string)
        + status: fail (string)

# Data Structures

## Lead (object)
+ firstname: John  - Firstname of a lead. Accepts letters, whitespaces, dashes and apostrophes. Max length is 124 symbols.
+ lastname: Doe - Lastname of a lead. Accepts letters, whitespaces, dashes and apostrophes. Max length is 124 symbols.
+ email: john@doe.com 
+ telephone: 9179123000 - From 10 to 12 digits

## Lead for leads list (Lead)
+ id: 1 (number) - Id of lead
+ date_added: `2015-01-01` (string) - Date of lead creation

## Lead for create (Lead)
+ firstname: John (required) - Firstname of a lead. Accepts letters, whitespaces, dashes and apostrophes. Max length is 124 symbols.
+ lastname: Doe (required) - Lastname of a lead. Accepts letters, whitespaces, dashes and apostrophes. Max length is 124 symbols.
+ email: john@doe.com (required)
+ telephone: 9179123000 (required) - From 10 to 12 digits

## Referral
+ type_id: 10 (number, required) - Id of referral type
+ name: norma@jean.com (string) - Identifier of referral. Can be name, email or url. With referral_type_id = 10 use email of a referral sales person

## Payment
+ payment_firstname:  Bruce (string, required) - Firstname of a cardholder
+ payment_lastname: Wayne (string, required) - Lastname of a cardholder
+ creditCardType: visa (string, required) - Can have one of the following values: visa, discover, mastercard, amex
+ creditCardNumber: `Kw3JZlXwcmJNfmRdRnHfEuDAOQKWtXbg50IvtJuNASsDgsO2ZWpVNi5fhG9A6NOSoy98NSozlICnCUS3WqWOjw==` (string, required) - Credit card number encrypted with a public key and then base 64 encoded. You can use openssl_public_encrypt and base64_encode PHP functions. Please take in account than request should be url ecnoded.
+ expDateMonth: 07 (number, required) - Expiration month
+ expDateYear: 2020 (number, required) - Expiration year
+ cvv2Number: 777 (number, required) - CVV number


## Product
+ sku: `IPTV:SERVICES:PREMIUM:PremiumMonthly` (string, required) - SKU of a product
+ price: 29.99 (number, required) - Proudct price

## Address
+ firstname (required)
+ lastname (required)
+ company - Company name
+ address_1 (required)
+ address_2
+ city (required)
+ postcode (required) - Zip code of an address
+ zone: Alabama (required) - Full state name
+ country (required) -  2 letter country code. A2 ISO standart

## Customer
+ account_firstname: Olivia (required)
+ account_lastname: Wilde (required)
+ email: olivia@wilde.com (required)
+ phone: 7854087499 (required)
+ referral: `Internet:google.com` - Referral in format Medium:SourceName.
+ addresses (array[Address]) - List of address object which are associated to a customer object

## Order
+ order_id: 1 (number) - Number of the order in your system
+ payment_company - Name of company
+ payment_address_1: 421 W 54th St (required) - Payment address
+ payment_address_2
+ payment_city: New York (required) - Payment city
+ payment_zone: New York (required) - Full state name
+ payment_country: US (required) - 2 letter country code. A2 ISO standart
+ payment_postcode: 10019 (required) - Zip code of an address
+ has_shipping: 0 (number, required) - Defines if the order should be shipped. Use 0 or 1 values
+ shipping_company
+ shipping_address_1 - Shipping address
+ shipping_address_2 -
+ shipping_city - Shipping city
+ shipping_zone - Full state name
+ shipping_country - 2 letter country code. A2 ISO standart
+ shipping_postcode - Zip code of an address